################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/FSC.Api.Seguridad/FSC.Api.Seguridad/bin/Debug/net10.0/FSC.Api.Seguridad.pdb
/FSC.Api.Seguridad/FSC.Api.Seguridad/obj/Debug/net10.0/FSC.Api.Seguridad.pdb
/FSC.Api.Seguridad/FSC.Api.Seguridad/appsettings.json
/FSC.Api.Mantenimiento/FSC.Api.Mantenimiento/obj/Debug/net10.0/FSC.Api.Mantenimiento.pdb
/FSC.Api.Mantenimiento/FSC.Api.Mantenimiento/bin/Debug/net10.0/FSC.Api.Mantenimiento.pdb
/FSC.Api.Mantenimiento/FSC.Api.Mantenimiento/bin/Debug/net10.0/*.dll
/FSC.Api.Mantenimiento/.vs/FSC.Api.Mantenimiento/CopilotIndices/18.7.1244.59975/*.db
/FSC.Api.Mantenimiento/.vs/FSC.Api.Mantenimiento/CopilotIndices/18.8.1093.27292/*.db
/FSC.Api.Mantenimiento/.vs/FSC.Api.Mantenimiento/CopilotIndices/18.9.1306.19527/*.db
/FSC.Api.Mantenimiento/.vs/FSC.Api.Mantenimiento/CopilotIndices/18.9.1306.19527/*.db-shm
/FSC.Api.Mantenimiento/.vs/FSC.Api.Mantenimiento/CopilotIndices/18.9.1306.19527/*.db-wal
/FSC.Api.Seguridad/.vs/FSC.Api.Seguridad/CopilotIndices/18.9.1306.19527/*.db
/FSC.Api.Seguridad/.vs/FSC.Api.Seguridad/CopilotIndices/18.9.1306.19527/*.db-shm
/FSC.Api.Seguridad/.vs/FSC.Api.Seguridad/CopilotIndices/18.9.1306.19527/*.db-wal
